<div class="btn-group" role="group" aria-label="Basic example" style="margin-top: 10px">
  <button type="button" class="btn btn-primary">1 Day</button>
  <button type="button" class="btn btn-primary">5 Days</button>
  <button type="button" class="btn btn-primary">1 Month</button>
  <button type="button" class="btn btn-primary">6 Months</button>
  <button type="button" class="btn btn-primary active">All Time</button>
</div>

<div id="employeeperformanceChart" style="height:500px; margin-top:10px"> </div>