<div class="btn-group" role="group" aria-label="Basic example" style="margin-top: 10px">
  <button type="button" class="btn btn-primary" id="btn-day-1" onclick="changeEmpPerformanceChartFilter('btn-day-1')">1 Day</button>
  <button type="button" class="btn btn-primary" id="btn-day-7" onclick="changeEmpPerformanceChartFilter('btn-day-7')">7 Days</button>
  <button type="button" class="btn btn-primary" id="btn-mon-1" onclick="changeEmpPerformanceChartFilter('btn-mon-1')">1 Month</button>
  <button type="button" class="btn btn-primary" id="btn-mon-6" onclick="changeEmpPerformanceChartFilter('btn-mon-6')">6 Months</button>
  <button type="button" class="btn btn-primary active" id="btn-all-time" onclick="changeEmpPerformanceChartFilter('btn-all-time')">All Time</button>
</div>

<div id="employeeperformanceChart" style="height:500px; margin-top:10px"> </div>