<div class="btn-group" role="group" aria-label="Basic example" style="margin-top: 10px">
  <button type="button" class="btn btn-primary" id="bnt-day-1">1 Day</button>
  <button type="button" class="btn btn-primary" id="bnt-day-5">5 Days</button>
  <button type="button" class="btn btn-primary" id="btn-mon-1">1 Month</button>
  <button type="button" class="btn btn-primary" id="btn-mon-6">6 Months</button>
  <button type="button" class="btn btn-primary active" id="btn-all-time">All Time</button>
</div>

<div id="employeeperformanceChart" style="height:500px; margin-top:10px"> </div>