{% load static %}
<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'styles/home.css' %}">
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
  <script src="{% static 'script/leaflet.js' %}"></script>

  <!-- ALERTIFY sources -->
  <link rel="stylesheet" href="{% static 'styles/alertify.rtl.css' %}">
  <link rel="stylesheet" href="{% static 'styles/alertifythemes/default.rtl.css' %}">
  <script src="{% static 'script/alertify.js' %}"></script>

  <script type="text/javascript">
    /* CREATE GLOBAL VARIABLES*/
    var active_id = "home";
    var myLatitude = -37.809967;
    var myLongitude = 144.962640;
    var GLOBAL_PATH = '{{ STATIC_PATH }}';
    var map;
    var binMarkers = {}; //dict of bin markers (bin_num, marker_obj)
    var inProgressBinNum = null;
    var clickedBinNum = null;
    var updateBinsLoop;
    var bigMapLoaded;   // boolean value to check rather the big map is being loaded or not
  </script>
  <title>Smart Bin - Profile</title>
</head>


<body onload="fillMapData(); fillBinTable(); fillUserCardData();">

  <div class="sidebar">
    <a class="active" href="#home" id="home" onclick="return renderHomeMain('home');">Home</a>
    <a class="" href="#profile" id="profile" onclick="return renderProfile('profile');">Profile</a>
    <a href="/login" class="btn btn-info btn-lg; logout">
      <span class="glyphicon glyphicon-log-out"></span> Log out
    </a>
  </div>

  <div class="main">
    <div class="topnav">
      <h1 style="color: #38BB36; text-align: center; font-family: 'Ubuntu', sans-serif; ">SMART-BIN</h1>
    </div>

    <div id="content">
      <div>
        <!--User Profile-->
        <div class="userprofile">
          <div class="avatar">
            <img src="{% static 'images/no-photo-profile.png' %}" height="150" width="150">
          </div>
          <h2 id="emp_name">Name: </h2>
          <p id="emp_username">Username: </p>
          <p id="emp_dob">DOB: </p>
          <p id="bins_collected">Bins Collected: </p>
        </div>

        <!--map-->
        <div class="map", id="map"> </div>
        <div class='map-overlay' id='legend'></div>
      </div>

      <!-- Bin Table Search bar -->
      <input class="form-control" id="searchInput" type="text" style="margin-top: 10px" placeholder="Search..">

      <!--Bins table-->
      <table class="container" id="binTable"></table>

    </div>

  <script src="{% static 'script/home-map.js' %}"></script>
  <script src="{% static 'script/home-table.js' %}"></script>
  <script src="{% static 'script/home-usercard.js' %}"></script>
  <script src="{% static 'script/home-main.js' %}"></script>

</body>

</html>

