{% load static %}
<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'styles/login.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>Sign in</title>

</head>

<body>
  <div class="login">
    <p class="sign" align="center">Sign in</p>
      <input class="un" type="text" align="center" placeholder="Username" id="username">
      <input class="pass" type="password" align="center" placeholder="Password" id="password">
      <button align="center" class="submit" form="loginForm" onclick="login()">Sign In</button>
    <div align="center">
        <br>
        <a href="http://127.0.0.1:8000/register" align="center">Register</a>
    </div>
  </div>

</body>

<script type="text/javascript">
  function login(){
    // get user inputted username and password
    let username_input = document.getElementById("username").value;
    let password_input = document.getElementById("password").value;

    // check rather username and password matched
    var request = new XMLHttpRequest()

    // url pattern: http://127.0.0.1:8000/validatelogin/username/password
    url = 'http://127.0.0.1:8000/validatelogin' + '/' + username_input + '/' + password_input;
    request.open('GET', url, true);

    request.onload = function () {

      if (request.status == 200) {
        let response = JSON.parse(this.response)
        if (response.data.length == 0) {
          console.log("Failed to login");
          alert("Failed to login");
        }
        else{
          console.log("Login successfull");
          // store user's data in local storage
          let userdata = response.data[0].attributes;
          if (userdata.emp_username == 'admin'){
            window.location.replace("http://127.0.0.1:8000/smartbinadmin");
          }
          else{
            userdata = JSON.stringify(userdata);
            localStorage.setItem('user', userdata);
            window.location.replace("http://127.0.0.1:8000/home");
          }
        }
      } else {
        console.log('error')
      }
    }

    request.send();
  }
</script>

</html>
