<form action="/editemployee/" method="post" id="employeeRegistrationForm">
    {% csrf_token %}
    <div class="row">
        <div class="form-group col-xs-6">
            <label>First Name</label>
            <input type="text" class="form-control" name="emp_firstname" id="emp_firstname" required>
        </div>
        <div class="form-group col-xs-6">
            <label>Last Name</label>
            <input type="text" class="form-control" name="emp_lastname" id="emp_lastname" required>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-6">
            <label>Bank Account Name</label>
            <input type="text" class="form-control" name="bank_acc_name" id="bank_acc_name" placeholder="Enter bank account name" required>
        </div>
        <div class="form-group col-xs-6">
            <label>Bank Account BSB</label>
            <input type="text" class="form-control" name="bank_acc_bsb" id="bank_acc_bsb" placeholder="Enter bank account BSB" maxlength="6" minlength="6" required>
        </div>
        <div class="form-group col-xs-6">
            <label>Bank Account Number</label>
            <input type="text" class="form-control" name="bank_acc_number" id="bank_acc_number" placeholder="Enter bank account number" maxlength="8" minlength="8" required>
        </div>
        <div class="form-group col-xs-6">
            <label>Email</label>
            <input type="text" class="form-control" name="email" id="email" placeholder="Enter email" required>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-6">
            <label>Phone</label>
            <input type="text" class="form-control" name="emp_phone" id="emp_phone" maxlength="10" minlength="10" required>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-5">
            <label>Street Address</label>
            <input type="text" class="form-control" name="emp_address_street" id="emp_address_street" required>
        </div>
        <div class="form-group col-xs-3">
            <label>Suburb Name</label>
            <input type="text" class="form-control" name="emp_address_suburb" id="emp_address_suburb" required>
        </div>
        <div class="form-group col-xs-2">
            <label>State</label>
                <select type="text" class="form-control" name="emp_address_state" id="emp_address_state">
                    <option>ACT</option>
                    <option>NSW</option>
                    <option>NT</option>
                    <option>QLD</option>
                    <option>SA</option>
                    <option>TAS</option>
                    <option>WA</option>
                    <option>VIC</option>
                </select>
        </div>
        <div class="form-group col-xs-2">
            <label>Postcode</label>
            <input type="number" class="form-control" name="emp_address_postcode" id="emp_address_postcode" min="1000" max="9999" required>
        </div>
    </div>
    <button type="submit" class="btn btn-primary signupbtn">Save Changes</button>
    <button type="submit" class="btn btn-warning cacnlebtn" onclick="location.href='../home';">Cancel</button>
</form>

<script type="text/javascript">
    // before submit
    $('#employeeRegistrationForm').submit(function(){ //listen for submit event
        let user = JSON.parse(localStorage.getItem('user'));
        $('<input />').attr('type', 'hidden')
            .attr('name', 'emp_username')
            .attr('value', user['emp_username'])
            .appendTo('#employeeRegistrationForm');
        return true;
    });

    // after submit
    $(function(){
        $('form[id=employeeRegistrationForm]').submit(function(){
            $.post($(this).attr('action'), $(this).serialize(), function(data) {
                let response = data.data;
                if (response == 'OK'){
                    alertify.alert()
                            .setHeader("")
                            .setting({
                                'label':'OK',
                                'message': 'Changes saved !',
                                'onok': function(){ window.location.href = '/home';}
                            }).show();
                    // edit local storage
                    let user = JSON.parse(localStorage.getItem('user'));
                    user['emp_firstname'] = $('#emp_firstname').val();
                    user['emp_lastname'] = $('#emp_lastname').val();
                    user['emp_address'] = $('#emp_address_street').val() + ',' + $('#emp_address_suburb').val() + ',' + $('#emp_address_state').val() + ',' + $('#emp_address_postcode').val();
                    user['tfn_no'] = $('#tfn_no').val();
                    user['emp_phone'] = $('#emp_phone').val();
                    localStorage.setItem('user', JSON.stringify(user));
                }
                else if (response == 'UNMATCHED_PASSWORD'){
                    alertify.alert("Password not match").setHeader('<em> </em> ');
                }
                else if (response == 'USERNAME_USED'){
                    alertify.alert("Username already exist").setHeader('<em> </em> ');
                }
                else{
                    alertify.alert("Unidentified response").setHeader('<em> </em> ');
                }
            }, 'json');
        return false;
        });
    });
</script>