/*
This file override and add styles from home.css
*/
h1 {
  font-weight: 300;
  line-height:1em;
  text-align: center;
  color: #38BB36;
}
#bin_num {
  background-color: rgba(136, 126, 126, 0.5);
  color: white;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

#emp_username {
  background-color: rgba(136, 126, 126, 0.5);
  color: white;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}